@page
@inject DataContext context;
@addTagHelper *, WebApp

<h5 class="bg-primary text-white text-center m-2 p-2">Categories</h5>
<ul class="list-group m-2">
    @foreach (Category c in context.Categories) {
        <li class="list-group-item">@c.Name</li>                
    }
</ul>

<div class="bg-info text-white m-2 p-2">

    @* Here to pass a parameter to View Component *@
    @* <vc:city-summary theme-name="secondary"/> *@
    @await Component.InvokeAsync("CitySummary",new {themeName="danger"})
</div>
