@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>Document</title>
</head>
<body>
    <div>
        <div class="text-center m-2">
            <h3>We are going to have an exciting party. </h3>
            <h4>And YOU are invited!</h4>
            <a class="btn btn-primary" asp-action="RsvpForm">Rvsp Now</a>
        </div>
        
    </div>
</body>
</html>
